@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('./fonts/RobotoCondensed-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
.hello {
    font-family: 'RobotoCondensed-Regular';
    color: red;
    background: url('./images/myicon.png');
}